@use "../css/partials/footer";
@use "../css/partials/reset";
@use "../css/partials/header";

* {
    font-family: 'Roboto', sans-serif;
}
.row{
    --bs-gutter-x:0px;
}
.titulo_personalizado {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}


section article div p {
    padding: 1rem;
}

section article ul li {
    padding: 1rem;
}

.dimensiones_torino {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    img {
        width: 35rem;
        height: 30rem;
    }
}

.margenes_consejosutiles {
    margin-left: 3rem;
}


.accordion {
--bs-accordion-bg: #8DA7BE;
}

.titulos_h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h5 {
    color:black;
    font-size: 2rem;
    background-color: #8DA7BE;
    border: 2px solid black;


}

.foto_trabajando { 
    aspect-ratio: 1200,1600;
    width: calc(35rem - 200px);
}

.card{
    background-color: #8DA7BE;
}