// Footer
.footer {
    background-color: #08415C;
    text-decoration: none;

    ul {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
        list-style: none;
        li a,svg{
            width: 100%;
            height: 100%;
            display: flex;
            align-content: center;
        }
    }
    
}