// barra de navegacion

.bg-color-08415C {
    background-color: #08415C;
}

.color_fondo_principal {
    background-color: #C6DDF0;
    height: auto;
}

.logo_de_la_empresa {
    width: 7rem;
    height: 7rem;
    max-width: 10rem;
    max-height: 10rem;
}